
<div class="reset-wrap">
	<div class="reset-html">
	  <input id="tab-1" type="radio" name="tab" class="reset-in" checked><label for="tab-1" class="tab">reset</label>
	  <input id="tab-2" type="radio" name="tab" class="reset-up"><label for="tab-2" class="tab"></label>
	  <div class="reset-form">
		<div class="reset-in-htm">
			<form>
		  <div class="group">
            <label for="New-password" class="form-label">New Password</label>
            <input type="email" class="form-control"  formControlName="Password">
            <!-- <span style="color: red;" >This Field is required</span> -->
            <label for="Confirm-password" class="form-label">Confirm Password</label>
            <input type="email" class="form-control"formControlName="Confirm-password">
              <!-- <span style="color: red;" >This Field is required</span> -->
		  </div>
		  <div class="group">
			<input type="submit" class="button" value="Submit">
		  </div>
		  <div class="hr"></div>
		</form>
		</div>
	  </div>
	</div>
  </div>