<div class="d-flex">
    <div class="card" style="width: 20rem; text-align: center;">
        <div class="card-body ">
          <i class="fa-sharp fa-solid fa-car-battery fa-2xl"></i>
            <h1 style="border: 1px solid black; background-color: white;" class="card-text">View Your Posts</h1>
            <h1 mat-dialog-title>Post Details</h1>
            <div mat-dialog-content *ngFor="let post of jobPosts" class="postlist" (click)="details(post.id)">
              <h2 class="list"><span style="color: blue;">Company Name:</span>{{post.companyname}}</h2>
              <h2 class="list"><span style="color: blue;">Opening Position:</span>{{post.position}}</h2>
              <hr>
             </div> 
          </div> 
      </div>
    </div>
    <app-dialog-posthistory [data]="specificData"></app-dialog-posthistory>
    