
<div class="forget-wrap">
	<div class="forget-html">
	  <input id="tab-1" type="radio" name="tab" class="forget-in" checked><label for="tab-1" class="tab" style="color: black;">FORGET</label>
	  <input id="tab-2" type="radio" name="tab" class="forget-up"><label for="tab-2" class="tab"></label>
	  <div class="forget-form">
		<div class="forget-in-htm">
			<form [formGroup]="forgetForm" (ngSubmit)=" forget()">
		  <div class="group">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" placeholder="Enter your email" formControlName="email">
            <span style="color: red;" *ngIf="email && email.invalid && email.touched ">This Field is required</span>
		  </div>		
		  <div class="group">
			<input type="submit" class="button" value="Send Request">
		  </div>
		  <div class="hr"></div>
		</form>
		</div>
	  </div>
	</div>
  </div>