<div class="container d-flex justify-content-center">
    <div class="list">
        <h1>Settings</h1>
    <ul class="list-group mt-5 text-white">
        <li class="list-group-item d-flex justify-content-between align-content-center">
            <div class="d-flex flex-row">
                <div class="ml-2">
                    <h6 class="mb-0 controls" routerLink="/profile">Edit Profile</h6>
                </div>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-content-center">
            <div class="d-flex flex-row">
                <div class="ml-2">
                    <h6 class="mb-0 controls">Notification</h6>
                   
                </div>
            </div>
           
        </li>

        <li class="list-group-item d-flex justify-content-between align-content-center">

            <div class="d-flex flex-row">
                <div class="ml-2">
                    <h6 class="mb-0 controls">Privacy And Security</h6>
                  
                </div>
            </div>

        </li>

        <li class="list-group-item d-flex justify-content-between align-content-center">
            <div class="d-flex flex-row">
                <div class="ml-2">
                    <h6 class="mb-0 controls">Language</h6>
                   
                </div>
            </div>
        </li>

        <li class="list-group-item d-flex justify-content-between align-content-center">
            <div class="d-flex flex-row">
                <div class="ml-2">
                    <h6 class="mb-0 controls">History</h6>
                  
                </div>
            </div>
        </li>
    </ul>
</div>
</div>